<!DOCTYPE <!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Vue test</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
</head>
<body>
    <script src="https://unpkg.com/vue"></script>
    

    <div id="app">
        <div class="divider">Прим 1</div>
        <div @mouseover=changeText>Text btn</div>
        <p>{{ title }}</p>
        <p :class="styleCSS"> Цвет: {{ styleCSS }}</p>
        <input  type="text" placeholder="pink,yellow,blue,grey" @input="styleCSS = $event.target.value"><br />

        <div class="divider">Прим 2</div>
        <input  type="text" placeholder="input number" @input="increment ($event.target.value) ">
        <p>{{value}}</p>
        <p>{{doubleValue}}</p>
        <p>{{stagedValue}}</p>

        <div class="divider">Прим 3</div>
        <button @click="show=!show">Чеширская магия?</button>
        <p v-if="show">Текст который может исчезнуть</p>
        <p v-else="show">А может не исчезать</p>
        <ul>
            <li v-for= "(car, i) in cars" > {{i+1}} - {{car.model}}, {{car.speed}} </li>
        </ul>
    </div>


    

    <script src="js/main.js"></script>
</body>
</html>